<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Contador.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Contador.Properties.Settings>
            <setting name="TpS1" serializeAs="String">
                <value />
            </setting>
            <setting name="TpS2" serializeAs="String">
                <value />
            </setting>
            <setting name="TpS3" serializeAs="String">
                <value />
            </setting>
            <setting name="TpS4" serializeAs="String">
                <value />
            </setting>
            <setting name="TpS5" serializeAs="String">
                <value />
            </setting>
            <setting name="TpS6" serializeAs="String">
                <value />
            </setting>
            <setting name="CadS1" serializeAs="String">
                <value />
            </setting>
            <setting name="CadS2" serializeAs="String">
                <value />
            </setting>
            <setting name="CadS3" serializeAs="String">
                <value />
            </setting>
            <setting name="CadS4" serializeAs="String">
                <value />
            </setting>
            <setting name="CadS5" serializeAs="String">
                <value />
            </setting>
            <setting name="CadS6" serializeAs="String">
                <value />
            </setting>
            <setting name="TpSLH1" serializeAs="String">
                <value />
            </setting>
            <setting name="TpSLH2" serializeAs="String">
                <value />
            </setting>
            <setting name="TpSLH3" serializeAs="String">
                <value />
            </setting>
            <setting name="TpSLH4" serializeAs="String">
                <value />
            </setting>
            <setting name="TpSLH5" serializeAs="String">
                <value />
            </setting>
            <setting name="TpSLH6" serializeAs="String">
                <value />
            </setting>
            <setting name="CadSLH1" serializeAs="String">
                <value />
            </setting>
            <setting name="CadSLH2" serializeAs="String">
                <value />
            </setting>
            <setting name="CadSLH3" serializeAs="String">
                <value />
            </setting>
            <setting name="CadSLH4" serializeAs="String">
                <value />
            </setting>
            <setting name="CadSLH5" serializeAs="String">
                <value />
            </setting>
            <setting name="CadSLH6" serializeAs="String">
                <value />
            </setting>
            <setting name="CiclosMantenimiento" serializeAs="String">
                <value>0</value>
            </setting>
        </Contador.Properties.Settings>
    </userSettings>
</configuration>